/* common style for all tags */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* common primary color */
.primary-orange {
  color: #fd6e0a;
}

/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.navbar-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  list-style: none;
  margin-right: 50px;
}

.navbar a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

.primary-btn {
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
}

/* header related style */
.header {
  background-color: #fff8f3;
}

.banner {
  padding: 30px 30px 0 200px;
  display: flex;
  align-items: center;
}

.banner-img {
  width: 500px;
}
